
.time-frame {
    background-color: #027bb5;
    color: #fff;
    width: auto;
    min-width: 160px;
    font-family: Arial;
    margin: 0 auto;
    display: table;
    padding: 10px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.time-frame > div {
    width: 100%;
    text-align: center;
}

#tarih-bolumu {
    font-size: 18px;
    color: #a9fff7;
}

#saat-bolumu {
    font-size: 32px;
    line-height: 30px;
    margin-top: 5px;
}